@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Green: hsl(75, 94%, 57%);
  --attribution: hsl(228, 45%, 44%);
  --white: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark_Grey: hsl(0, 0%, 12%);
  --Off_Black: hsl(0, 0%, 8%);
}

body {
  background-color: hsl(0, 0%, 8%);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.container {
  background-color: hsl(0, 0%, 12%);
  min-height: 600px;
  max-width: 380px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 50px 30px;
  border-radius: 10px;
  display: flex;
  
}

.img1 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.info {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.links{
    display: flex;
    justify-content: center;
   }
   
ul {
  list-style-type: none;
 }

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: block;
  border-radius: 9px;
  padding: 14px;
  background-color: var(--Grey);
  margin: 15px;
  text-align: center;
  width: 300px;
  font-weight: 600;
 }

 a:hover{
    background-color: var(--Green);
    color: black;
    font-weight: 600;
 }

h1 {
    font-size: 20px;
    margin: 20px 20px;
}

 h2{
    font-size: 16px;
    color: var(--Green);
 }
p {
  font-size: 14px;
  margin-bottom: 20px;
  
}
