@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

.main-div {
  background-color: aqua;
  height: 300px;
  border: 4px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.child1 {
  background-color: blue;
  height: 80px;
  width: 200px;
}

.child2 {
  background-color: red;
  height: 80px;
  width: 200px;
}

.child3 {
  background-color: yellow;
  height: 80px;
  width: 200px;
}
