@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./logoBytes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
   }

.container{
    width: 100%;
  
    
    margin: 0 auto;

  
    }

    header{

    }

    nav{

    }