@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright_Yellow: hsl(71, 73%, 54%);
  --Light_Gray: hsl(204, 43%, 93%);
  --Grayish_Blue: hsl(218, 22%, 67%);
}

body {
  background-color: hsl(204, 43%, 93%);
  font-size: 16px;
  font-family: "Karla";
}

.wraper {
  width: 640px;
  height: 490px;
  margin: 200px auto;
}

.container-texto {
  width: 100%;
  height: 47%;
  display: flex;
}

.texto {
  background-color: white;
  color: rgba(0, 0, 0, 0.465);
  padding: 30px;
  border-radius: 10px 10px 0 0; 
  line-height: 1.6em;
}

.container-squares {
  width: 640px;
  height: 490px;
  display: flex;
}

.left {
  background-color: hsl(179, 62%, 43%);
  color: white;
  width: 50%;
  height: 50%;
  border-radius: 0 0 0 10px;
  padding-left: 40px;
  line-height: 1.6em;
}

.right {
  background-color: hsla(179, 62%, 43%, 0.826);
  width: 50%;
  height: 50%;
  border-radius: 0 0 10px 0;
  padding-left: 40px;
  color: rgba(255, 255, 255, 0.591);
  line-height: 1.3em;

}

h1 {
  color: hsl(179, 62%, 43%);
}

h2 {
  color: var(--Bright_Yellow);
}

h3 {
  padding: 10px;
  color: white;
  margin-top: 30px;
}

.dollar {
  font-size: 32px;
  font-weight: 600;
  color: white;
  padding-right: 20px;
  text-align: start;
}

.per {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.622);
}

.btn {
  background-color: hsl(71, 73%, 54%);
  font-size: 16px;
  font-weight: 600;
  color: white;
  width: 230px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}
