:root{
  --greyDark: #040404;
  --greyLight: #131313;
  --greyLighter: #282828;
  --greyText: #b3b3b3;
  --greyNav: #090909;
  --greenMain: #1db954;
  
}

@font-face {
  font-family: circular-book;
  src: url(./fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: circular-bold;
  src: url(./fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: circular-black;
  src: url(./fonts/CircularStd-Black.otf);
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  height: calc(100vh - 90px);
  background: var(--greyLight);
}

.sidebar {
  background-color: var(--greyLighter);
  color: var(--greyText);
  padding: 20px;
  width: 250px;
}

.sidebar img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar hr {
  border: 0;
  border-top: 1px solid var(--greyDark);
  margin: 20px 0;
}

.sidebar button {
  background-color: transparent;
  border: none;
  color: var(--greyText);
  cursor: pointer;
  margin-top: 20px;
}

.sidebar button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
