:root {
  --greyDark: #040404;
  --greyLight: #131313;
  --greyLighter: #282828;
  --greyText: #b3b3b3;
  --greyNav: #090909;
  --greenMain: #1db954;
}

* {
  box-sizing: border-box;
}

.sidebar {
  background-color: var(--greyDark);
  list-style-type: none;
  color: var(--greyText);
  display: flex;
}
